* {box-sizing: border-box;}

:root {
    --font1: "Honk", system-ui;
    --font2: "Dokdo", system-ui;
}
body{
    margin: 0;
    padding: 0;
    background-color: black;
}

.main{
    margin: 50px auto;
    width: 96%;
}

h1 {
    color: hotpink;
    font-family: var(--font1);
    font-size: 80px;
    text-align: center;
}

.start-screen{
    border: 3px solid hotpink;
    height: 80vh;
    width: 90vw;
    background-image: url(../media/bitmojis4game2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.how-to-play{
    border: 3px solid #45c46f;
    height: 80vh;
    width: 90vw;
    
}

.space{
    margin-top: 80px;
}

.help{
    border: 3px solid #45c46f;
    height: 80vh;
    width: 70vw;
    background-image: url(../media/conversionChart.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#directions{
    background-color: wheat;
    color: black;
    font-family: var(--font2);
    font-size: 40px;
    text-align: center;
    text-shadow: 1px 1px 1px hotpink;
    margin: 20px 20px;
}

#gameBoard{
    border: 3px solid hotpink;
    height: 80vh;
    width: 90vw;
    background-image: url(../media/kitchenbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#startBtn, #howToPlayBtn {
    font-family: var(--font1);
    text-transform: uppercase;
    background-color: hotpink;
    color: blanchedalmond;
    font-weight: 600;
    font-size: 42px;
    padding: 10px 40px;
    border-radius: 20%;
    box-shadow: 2px 2px;
}

h2 {
    font-family: var(--font2);
    font-size: 38px;
    text-align: center;
    background-color: lavenderblush;
    margin: 20px auto;
}
.dessertBtns {
    text-transform: uppercase;
    background-color: hotpink;
    color: blanchedalmond;
    font-weight: 600;
    font-size: 22px;
    font-family: monospace;
    display: inline-block;
    margin: auto 20px;
    padding: 10px 30px;
    border-radius: 5%;
}

.dessertBtns:hover {
    background-color: lavenderblush;
    color: hotpink;
    text-shadow: 1px 2px 1px black;
}

#helpBtn {
    text-transform: uppercase;
    background-color: darkgoldenrod;
    color: blanchedalmond;
    text-shadow: 1px 1px 1px black;
    font-weight: 600;
    font-size: 20px;
    font-family: monospace;
    display: inline-block;
    margin: auto 20px;
    padding: 5px 10px;
    border-radius: 5%;
}

#helpBtn:hover{
    background-color: #45c46f;
}
.character {
    /* margin-left: 1100px; */
    margin-left: 160px;
    margin-top: 5px;
}
.info {
    margin-top: 20px;
}

#ingredientsDiv {
    font-family: monospace;
    font-size: calc(12px + (12 - 12) * ((100vw - 300px) / (1600 -300)));;
    width: 240px;
    height: 300px;
    color: black;
    background-color: palegoldenrod;
    border-radius: 5px;
    box-shadow: 1px 2px 3px 2px inset;

}

.magnet {
    color: yellow;
    background-color: black;
    border-radius: 22px;
    margin-left: 140px;
    margin-top: -80px;
    padding: 0;
    /* margin: 0; */
}
h4 {
    margin-bottom: 0;
}
#list{
    margin-top: 0;
    padding: 0;
    list-style: none;
    /* border: 2px solid blue; */
}
#questionDiv {
    font-family: monospace;
    text-align: center;
    font-size: 20px;
    width: 350px;
    height: 300px;
    color: black;
    background-color: palegoldenrod;
    border-radius: 5px;
    box-shadow: 1px 2px 3px 2px;
}
.message{
    /* width: 60%; */
    font-size: 18px;
    text-align: center;
    color: black;
    border-radius: 5px;
    background-color: hotpink;
}
#next{
    padding: 0;
}
#nextBtn {
    font-family: monospace;
    padding: 0;
    margin-top: 180px;
    height: 50px;
    width: 80px;
    border-radius: 5px;
    border: 1px solid hotpink;
    background-color: palegoldenrod;
}

.answer-choices {
    height: 60px;
    width: 60px;
    color: black;
    font-size: 20px;
    background-color: hotpink;
}
